*:focus {
    outline: 2px dotted #ff7500;
    outline-offset: 3px;
}

/* SITE-HEADER */
.siteheader {
    display: flex;
    justify-content: space-between;
    align-items: centerx    ;
    background-color: #fff;
}

.logo-link {
    transition: opacity 0.4s ease;
}

.logo-link:hover {
    opacity: 0.8;
}

.logo-link:active {
    opacity: 0.5;
}

body p {
    font-size: 16px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.5px;
}

body ul {
    font-family: "Roboto", serif;
    list-style: none;
    font-weight: 400;
}

/* SITENAV */
.sitenav-link {
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    transition: color 0.4s ease,
    opacity 0.4s ease;
}

.sitenav-link:hover {
    color: #ff7500;
}

.sitenav-link:active {
    opacity: 0.6;
}


.site-header-actions {
    display: flex;
    align-items: center;
}

/* MAIN-LINK */
.main-link {
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    background-color: #ff7500;
    text-decoration: none;
    font-family: "Roboto", serif;
    transition: opacity 0.4s ease;
}

.main-link:hover {
    opacity: 0.8;
}

.main-link:active {
    opacity: 0.6;
}


/* HERO */
.hero {
    background-color: #252420;
    color: #fff;
}

.hero-heading {
    font-size: 40px;
    line-height: 1.2;
    font-family: "Robot Condensed", "Arial", sans-serif;
}

.hero-title {
    font-weight: 700;
    line-height: 1.2;
    font-size: 40px;
    font-family: "Robot Condensed", "Arial", sans-serif;
    letter-spacing: 0.5px;
}

.hero-text {
    width: 387px;
    height: 96px;
}

.orange-line {
    width: 80px;
    height: 3px;
    color: #ff7500;
    background-color: #ff7500;
}

.hero-img {
    width: 510px;
    height: 510px;
}

/* FEATURES */
.features-heading {
    width: 440px; 
    font-size: 72px;
    line-height: 1.2;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    letter-spacing: 0.5px;
}

.features-icon-wrapper {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2);

}


/* FEATURE */
.feature {
    width: 340px;
}

.feature-title {
    font-size: 24px;
    line-height: 1.2;
    font-family: "Roboto Condensed", "Arial", sans-serif;
}

/* PROMO */
.promo {
    background: #252420;
    color: #fff;
}

.promo-content {
    width: 440;
}

.promo-heading {
    width: 373px;
    height: 96px;
    font-size: 40px;
    line-height: 48px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
}

.promo-text {
    width: 440px;
    height: 48px;
}

.promo-highlight {
    color: #ff7500;   
}

.promo-img {
    width: 440px;
    height: 440px;
    object-fit: cover;
}


/* SITE-FOOTER */
.site-footer {
    background-color: #f8f8f8;
}

.site-footer-socials {
    display: flex;
    align-items: center;
}

.site-footer-socials a {
    color: #252420;
}

.site-footer-socials a:hover {
    color: #ff7500;
}

.site-footer-socials a:active {
    opacity: 0.6;
}

.site-footer-divider {
    background-color: rgba(37, 36, 32, 0.5);
    height: 2px;
    
}

.site-footer-links {
    width: 224px;
    line-height: 19px ;
    text-decoration: none;
    color: rgba(37, 36, 32, 1);
    font-family: "Roboto", serif;
    list-style: none;
    transition: color 0.4s ease,
    opacity 0.4s ease;
}

.site-footer-links:hover {
    color: #ff7500;
}

.site-footer-links:active {
    opacity: 0.6;
}