* {
    box-sizing: border-box;
}

*:focus {
    outline: 2px dotted #ff7500;
    outline-offset: 3px;
}

/* CONTAINER */
.container {    
    width: 100%;
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto; 
}

/* SITE-HEADER */
.siteheader {
    background-color: #fff;
    padding-top: 16px;
    padding-bottom: 16px;
}

.site-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 91px;
}

body {
    padding: 0;
    margin: 0;
    border-top: 5px solid #ff7500;
 }

.logo-link {
    transition: opacity 0.4s ease;
}

.logo-link:hover {
    opacity: 0.8;
}

.logo-link:active {
    opacity: 0.5;
}

.logo-link img {
    display: block;
}

body p {
    font-size: 16px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.5px;
}

body ul {
    font-family: "Roboto", serif;
    list-style: none;
    font-weight: 400;
}

/* SITENAV */
.sitenav-list {
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 32px;
    margin-left: 287px;
    list-style: none;
}

.sitenav-item {
    margin-right: 32px;
}

.sitenav-item:last-child {
    margin: 0;
}

.sitenav-link {
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    transition: color 0.4s ease,
    opacity 0.4s ease;
}

.sitenav-link:hover {
    color: #ff7500;
}

.sitenav-link:active {
    opacity: 0.6;
}


.site-header-actions {
    display: flex;
    align-items: center;
    width: 1100px;
    height: 60px;
}

/* MAIN-LINK */
.main-link {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
    color: #fff;
    background-color: #ff7500;
    text-decoration: none;
    font-family: "Roboto", serif;
    transition: opacity 0.4s ease;
}

.main-link:hover {
    opacity: 0.8;
}

.main-link:active {
    opacity: 0.6;
}


/* HERO */
.hero {
    padding-top: 80px;
    padding-bottom: 78px;
    background-color: #252420;
    color: #fff;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-heading {
    width: 500px;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 1.2;
    font-family: "Robot Condensed", "Roboto", "Arial", sans-serif;
}

.hero-text {
    margin: 0;
    margin-bottom: 32px;
    width: 387px;
    height: 96px;
}

.orange-line {
    width: 80px;
    height: 3px;
    border: 0;
    margin: 0;
    margin-bottom: 40px;
    background-color: #ff7500;
}

.hero-img {
    width: 510px;
    height: 510px;
}

.hero-img img {
    border-radius: 8px;
    box-shadow: 24px 24px 0 0 rgba(255, 117, 0, 0.6);
}

/* FEATURES */
.features {
    justify-content: center;
    align-items: center;
    height: 936px;
    padding-top: 250px;
}

.features-list {
    display: flex;
    margin: 0;
    list-style: none;
    padding: 0;
}

.features-heading {
    width: 440px; 
    margin-top: 0;
    margin-bottom: 72px;
    font-size: 72px;
    line-height: 1.2;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    letter-spacing: 0.5px;
}

.features-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-bottom: 32px;
    border-radius: 50%;
    background-color: rgba(255, 117, 0, 0.2);

}


/* FEATURE */
.feature {
    width: 340px;
    margin-right: 40px;
}

.feature-list:last-child {
    margin-right: 0;
}

.feature-title {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 1.2;
    font-family: "Roboto Condensed", "Arial", sans-serif;
}

.feature-info {
    margin: 0;
}

/* PROMO */
.promo {
    padding-top: 120px;
    padding-bottom: 160px;  
}

.promo-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px;
    border-radius: 8px;
    background-color: #252420;
    color: #fff;
}

.promo-content {
    width: 440;
}

.promo-heading {
    width: 373px;
    height: 96px;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 48px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
}

.promo-info-wrapper {
    margin-bottom: 24px;
}

.promo-text {
    width: 440px;
    height: 48px;
    margin-top: 0;
    margin-bottom: 12px;
}

.promo-text:last-child {
    margin-bottom: 0;
}

.promo-highlight {
    color: #ff7500;   
}

.promo-img {
    width: 440px;
    height: 440px;
    object-fit: cover;
}

.promo-img img {
    border-radius: 12px;
}


/* SITE-FOOTER */
.site-footer {
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: #f8f8f8;
}

.site-footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-footer-socials li {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.site-footer-socials li {
    margin-bottom: 16px;
}

.site-footer-socials li:last-child {
    margin-bottom: 0;
}

.site-footer-socials a {
    margin-right: 16px;
    display: block;
    color: #252420;
}

.site-footer-socials a:hover {
    color: #ff7500;
}

.site-footer-socials a:active {
    opacity: 0.6;
}

.site-footer-socials svg {
    display: block;
}

.site-footer-divider {
    height: 2px;
    border: 0;
    margin-top: 40px;
    margin-bottom: 64px;
    background-color: rgba(37, 36, 32, 0.5);
}

.site-footer-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 68px;
}

.site-footer-links {
    width: 224px;
    list-style: none;
    line-height: 19px ;
    text-decoration: none;
    color: rgba(37, 36, 32, 1);
    transition: color 0.4s ease,
    opacity 0.4s ease;
    margin-right: 190px;
}

.site-footer-links:hover {
    color: #ff7500;
}

.site-footer-links:active {
    opacity: 0.6;
}

.site-footer-bottom {
    display: flex;
}

.site-footer-ul:last-child {
    margin-right: 0;
}

.site-footer-ul a {    
    margin-bottom: 16px;
}
